html {
    background-color: beige;
}

#calculator {
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 8px;
    width: 325px;
    margin: 50px auto;
    padding: 10px 20px 20px;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: black;
    margin: 0 0 5px;
}

#screen {
    background-color: rgb(233, 233, 233);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px;
    margin-bottom: 12px;
}

#screen > * {
    text-align: right;
    overflow-wrap: break-word;
}

#memory {
    min-height: 30px;
    font-size: 20px;
}

#display {
    min-height: 44px;
    font-size: 38px;
}

#buttons {
    display: grid;
    grid-template: 1.2fr repeat(4, 1fr) / repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 12px;
}

.button {
    font-size: 30px;
    font-weight: 300;
    color: black;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}

.button:active, .button.active {
    border-style: inset;
}

.value {
    background-color: lightpink;
}

.value:hover, .value.active {
    background-color: rgb(250, 209, 215);
}

.operation, .other {
    background-color: lightgray;
}

.operation:hover, .other:hover, .operation.active, .other.active {
    background-color: rgb(228, 228, 228);
}

#\= {
    background-color: lightcoral;
}

#\=:hover, #\=.active {
    background-color: rgb(255, 170, 170);
}

h1, #memory, #display, .button {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#Clear {
    grid-column: 1 / span 2;
}

#Backspace {
    grid-column: 3 / span 2;
}