#screen {
    box-sizing: border-box;
    border: 1px solid black;
    width: 40%;
    padding: 4px;
    margin: 20px auto 5px;
}

#memory {
    height: 30px;
    font-size: 28px;
    text-align: right;
}

#display {
    height: 40px;
    font-size: 36px;
    text-align: right;
}

#buttons {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    width: 40%;
    margin: auto;
}

.button {
    font-size: 36px;
}

#Clear {
    grid-column: 1 / span 2;
}

#Delete {
    grid-column: 3 / span 2;
}