#screen {
    box-sizing: border-box;
    border: 1px solid black;
    width: 40%;
    padding: 4px;
    margin: 20px auto 5px;
}

#screen > * {
    text-align: right;
    overflow-wrap: break-word;
}

#memory {
    min-height: 32px;
    font-size: 28px;
}

#display {
    min-height: 42px;
    font-size: 36px;
}

#buttons {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    width: 40%;
    margin: auto;
}

.button {
    font-size: 36px;
}

#memory, #display, .button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#Clear {
    grid-column: 1 / span 2;
}

#Delete {
    grid-column: 3 / span 2;
}